body {
    background: radial-gradient(circle, rgb(255, 254, 254), #eae4e4, rgb(241, 234, 234)); 
    font-family: NotoSans;
    color: #541E2C;
    text-align: center;
    margin: 0;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;    
    align-items: flex-start;
    gap: 1rem;
    margin-top: 30px;
}

.menu-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.opc {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    width: 100%;          /* Para hacer que cada elemento ocupe el ancho completo del contenedor */
    max-width: 300px;     /* Limita el ancho máximo del contenedor para alineación */
    justify-content: left;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.716); /* Fondo semitransparente para mayor legibilidad */
    border-radius: 8px;
    transition: background-color 0.3s;  
}

.opc:hover {
    background-color: #646060;
}

.icono {
    margin-right: 10px;
}

.btn{
    background-color: #541E2C;
}

.btn-danger {
    border: none !important; /* Quita el borde */
    box-shadow: none !important; /* Quita el sombreado al hacer clic */
    border-radius: 20px !important; /* Más redondeado */
}

.btn:hover{
    background-color: #A5802D;
}

.logo-superior {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 30%; /* Ajusta el tamaño según tu preferencia */
    height: auto;
    z-index: 10;
}

.logo-sgc {
    position: absolute;
    top: -175px; /* Más arriba que 0px */
    right: 20px;
    width: 30%; /* Ajusta el tamaño según tu preferencia */
    height: auto;
    z-index: 10;
}