body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 13px;
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/* ENCABEZADO */
.header-table td {
    border: 1px solid #000;
}

.logo {
    width: 25%;
    text-align: center;
    font-size: 12px;
}

.titulo-principal {
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.registro {
    width: 25%;
    font-size: 12px;
}

/* DATOS GENERALES */
.tabla-datos td {
    font-size: 12px;
}

/* INDICADORES */
.tabla-indicadores th,
.tabla-indicadores td {
    font-size: 12px;
}

/* FIRMAS */
.tabla-firmas td {
    border: none;
    text-align: center;
}

.firma {
    padding-top: 60px;
    font-size: 12px;
}